@import '~/static/utils/mixins.scss';

.phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (max-width: $table-width) { align-items: center; }

    &__number {
        color: #F4F4F4;
        white-space: nowrap;

        @include text-level-2
    }

    &__text { color: #828282; }
}