// Fonts
$main-regular-font: 'MuseoSans-Medium', Arial, sans-serif;
$second-regular-font: 'MuseoSans-Demi', Arial, sans-serif;

// Size
$main-font-size           : 14px;
$main-line-height         : 26px;

$desktop-width            : 1160px;
$sm-desktop-width         : 992px;
$table-width              : 768px;
$phone-width              : 576px;
$min-width                : 300px;

$desktop-offset           : 30px;
$table-offset             : 15px;

$container-max-width      : 1220px;

// Colors
$white-color              : #ffffff;

$main-text-color          : #1D1D39;
$secondary-text-color     : #333333;

$main-action-color        : #03973D;
$secondary-action-color   :#039BE6;
$third-action-color       : #4dc3ff;

$border-color             : #dddddd;